
/* 	--------------------------------------------------
    The Origin Framework ™ - uSkinned.net

	BASE
    -------------------------------------------------- */


/* 	--------------------------------------------------
    TABLE OF CONTENTS 
    -------------------------------------------------- 

	1.0 RESET
	2.0 CLEARFIX
	3.0 GRID
	4.0 LINKS
	5.0 LISTS
	6.0 MISC
	7.0 TYPOGRAPHY
	
*/


/*  --------------------------------------------------
    1.0 RESET
    -------------------------------------------------- */

	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section { display: block; }

	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after { content: ''; content: none; }
	ins { background-color: #ff9; color: #000; text-decoration: none; }
	mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
	del { text-decoration: line-through; }
	abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
	table { border-collapse: collapse; border-spacing: 0; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	input, select { vertical-align: middle; }

	select, input, textarea, button { outline: none; }
	pre, code, kbd, samp { font-family: monospace, sans-serif; }

	html { overflow-y: scroll; }
	a:hover, a:active { outline: none; }
	ul, ol { margin:0; padding:0; }
	nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
	small { font-size: 85%; }
	strong, th { font-weight: bold; }
	td { vertical-align: top; }

	sub, sup { font-size: 75%; line-height: 0; position: relative; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }

	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
	textarea { overflow: auto; }
	.ie6 legend, .ie7 legend { margin-left: -7px; } 
	input[type="radio"] { vertical-align: text-bottom; }
	input[type="checkbox"] { vertical-align: bottom; }
	.ie7 input[type="checkbox"] { vertical-align: baseline; }
	.ie6 input { vertical-align: text-bottom; }
	label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
	button, input, select, textarea { margin: 0; }
	input:valid, textarea:valid   {  }
	input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
	.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

	button {  width: auto; overflow: visible; }
	.ie7 img { -ms-interpolation-mode: bicubic; }
	
	body {
		
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		}
	
	textarea { resize:none; }

	nav ul, ul.list, fieldset ul, .tweets ul, .slides ul { list-style:none; margin:0; padding:0; overflow:visible; height:100%;	}
	
	.box,
	input, textarea, select {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		}
		
	i.fa {
		margin-right:5px;
		}	
	i.fa.after {
		margin-right:0;
		margin-left:5px;
		}
	.overlayicon i.fa {
		margin:0;
		}
	.site_search i.fa {
		margin:0 auto;
		}



/*	--------------------------------------------------
	2.0 CLEARFIX
	-------------------------------------------------- */
		 
	/* Nicolas Gallagher's micro clearfix */
	.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	.row:after, .clearfix:after { clear: both; }
	.row, .clearfix { zoom: 1; }
	

	/* http://sonspring.com/journal/clearing-floats */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
		}

	/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
	.clearfix:before,
	.clearfix:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
		}

	.clearfix:after {
		clear: both;
		}

	/* The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem. */

	.clearfix {
		zoom: 1;
		}

		

/*	--------------------------------------------------
	3.0 GRID 
	-------------------------------------------------- */
	
	/* 960 */
	.container { 
		margin:0 auto;
		width:960px;
		max-width:960px;
		position:relative;
		height:auto;
		}

	/* ROW */
	.row { 
		width: 940px; 
		margin:0 auto;
		padding-bottom:20px;
		position:relative;
		}
	.row:last-child {
		padding-bottom:0;
		}	
	.row.last {
		padding-bottom:0;
		}
	.row:after {
		clear:both;
		}
	.row .row {
		width:100%;
		}

	/* cols */
	.cols { 
		margin-left: 1%;
		margin-right: 1%;
		display:inline;
		float: left; 
		min-height: 1px; 
		position: relative; 
		}
	.cols:first-child {
		margin-left: 0;
		}
	.cols.left,
	.cols.first,
	.cols.bookend-left {
		margin-left: 0;
		}
	.cols:last-child {
		margin-right: 0;
		}
	.cols.right,
	.cols.last,
	.cols.bookend-right {
		margin-right: 0;
		}	

	.row .span1 			{ width:6.5%; 	}
	.row .span2 			{ width:15%; 	}
	.row .span3 			{ width:23.5%; 	}
	.row .span4 			{ width:32%; 	}
	.row .span5 			{ width:40.5%; 	}
	.row .span6 			{ width:49%; 	}
	.row .span7 			{ width:57.5%; 	}
	.row .span8 			{ width:66%; 	}
	.row .span9 			{ width:74.5%; 	}
	.row .span10  			{ width:83%; 	}
	.row .span11 			{ width:91.5%; 	}
	.row .span12 			{ width:100%; margin-left:auto; margin-right:auto; }

	.row .centered 			{ display:block; float:none; margin-left:auto; margin-right:auto; }

	.row .prefix1 			{ padding-left:8.5%;	}
	.row .prefix2 			{ padding-left:17%; 	}
	.row .prefix3 			{ padding-left:25.5%; 	}
	.row .prefix4 			{ padding-left:34%; 	}
	.row .prefix5 			{ padding-left:42.5%; 	}
	.row .prefix6 			{ padding-left:51%; 	}
	.row .prefix7 			{ padding-left:59.5%; 	}
	.row .prefix8 			{ padding-left:68%; 	} 
	.row .prefix9 			{ padding-left:76.5%; 	}
	.row .prefix10 			{ padding-left:85%; 	}
	.row .prefix11 			{ padding-left:93.5%; 	}

	.row .suffix1 			{ padding-right:8.5%;  	}
	.row .suffix2 			{ padding-right:17%; 	}
	.row .suffix3 			{ padding-right:25.5%; 	}
	.row .suffix4 			{ padding-right:34%; 	}
	.row .suffix5 			{ padding-right:42.5%; 	}
	.row .suffix6 			{ padding-right:51%; 	}
	.row .suffix7 			{ padding-right:59.5%; 	}
	.row .suffix8 			{ padding-right:68%; 	} 
	.row .suffix9 			{ padding-right:76.5%; 	}
	.row .suffix10 			{ padding-right:85%; 	}
	.row .suffix11			{ padding-right:93.5%; 	}
	
	.row .push1 			{ left:8.5%;  	}
	.row .push2 			{ left:17%; 	}
	.row .push3 			{ left:25.5%; 	}
	.row .push4 			{ left:34%; 	}
	.row .push5 			{ left:42.5%; 	}
	.row .push6 			{ left:51%; 	}
	.row .push7 			{ left:59.5%; 	}
	.row .push8 			{ left:68%; 	} 
	.row .push9 			{ left:76.5%; 	}
	.row .push10 			{ left:85%; 	}
	.row .push11 			{ left:93.5%; 	}
	
	.row .pull1 			{ right:8.5%;  	}
	.row .pull2 			{ right:17%; 	}
	.row .pull3 			{ right:25.5%; 	}
	.row .pull4 			{ right:34%; 	}
	.row .pull5 			{ right:42.5%; 	}
	.row .pull6 			{ right:51%; 	}
	.row .pull7 			{ right:59.5%; 	}
	.row .pull8 			{ right:68%; 	} 	
	.row .pull9 			{ right:76.5%; 	}
	.row .pull10 			{ right:85%; 	}
	.row .pull11 			{ right:93.5%; 	}


	/* Tablet */
	@media (min-width:768px) and (max-width:1023px) {

	.container { 
		width:95%;
		margin:0 auto;
		}

	/* ROW */
	.row { 
		width:100%;
		}

	} 


	/* Mobile 320px */
	@media (max-width:479px) {
		
	.container { 
		width:92%;
		margin:0 auto;
		overflow:hidden;
		height:100%;
		}
		
	}	


	/* Mobile 480px */
	@media (min-width:480px) and (max-width:767px) {
		
	.container { 
		width:80%;
		margin:0 auto;
		overflow:hidden;
		height:100%;
		}	
	
	}	


	/* Mobile */
	@media (max-width:767px) {

	/* ROW */
	.row { 
		overflow:hidden;
		width: 100%; 
		height:100%;
		}
	
	/* COLS */
	.cols { 
		margin-left: 0;
		margin-right: 0; 
		float:none!important;
		display:block!important;
		}
		
	.row .span1,
	.row .span2,
	.row .span3,
	.row .span4,
	.row .span5,
	.row .span6,
	.row .span7,
	.row .span8,
	.row .span9,
	.row .span10,
	.row .span11,
	.row .span12 { 
		width:100%; 
		}

	.row .prefix1 			{ padding-left:0; }
	.row .prefix2 			{ padding-left:0; }
	.row .prefix3 			{ padding-left:0; }
	.row .prefix4 			{ padding-left:0; }
	.row .prefix5 			{ padding-left:0; }
	.row .prefix6 			{ padding-left:0; }
	.row .prefix7 			{ padding-left:0; }
	.row .prefix8 			{ padding-left:0; } 
	.row .prefix9 			{ padding-left:0; }
	.row .prefix10 			{ padding-left:0; }
	.row .prefix11 			{ padding-left:0; }

	.row .suffix1 			{ padding-right:0; }
	.row .suffix2 			{ padding-right:0; }
	.row .suffix3 			{ padding-right:0; }
	.row .suffix4 			{ padding-right:0; }
	.row .suffix5 			{ padding-right:0; }
	.row .suffix6 			{ padding-right:0; }
	.row .suffix7 			{ padding-right:0; }
	.row .suffix8 			{ padding-right:0; } 
	.row .suffix9 			{ padding-right:0; }
	.row .suffix10 			{ padding-right:0; }
	.row .suffix11			{ padding-right:0; }

	.row .push1 			{ left:0; }
	.row .push2 			{ left:0; }
	.row .push3 			{ left:0; }
	.row .push4 			{ left:0; }
	.row .push5 			{ left:0; }
	.row .push6 			{ left:0; }
	.row .push7 			{ left:0; }
	.row .push8 			{ left:0; } 
	.row .push9 			{ left:0; }
	.row .push10 			{ left:0; }
	.row .push11 			{ left:0; }

	.row .pull1 			{ right:0; }
	.row .pull2 			{ right:0; }
	.row .pull3 			{ right:0; }
	.row .pull4 			{ right:0; }
	.row .pull5 			{ right:0; }
	.row .pull6 			{ right:0; }
	.row .pull7 			{ right:0; }
	.row .pull8 			{ right:0; } 
	.row .pull9 			{ right:0; }
	.row .pull10 			{ right:0; }
	.row .pull11 			{ right:0; }
		
	}



/*	--------------------------------------------------
	4.0 LINKS
	-------------------------------------------------- */
	
	a { 
		text-decoration: none; 
		line-height: inherit; 
		cursor:pointer; 
		}
	a,
	button,
	button span,	
	a span,
	a strong,
	input,
	textarea, 
	select { 
		
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.15s ease;
        -ms-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
		transition: all 0.15s ease;
		}
	nav.main a,
	body.home .promo_pods .item a .info,
	.listing.grid .item a .info,
	nav.sub a {
		
		-webkit-transition:background 0.25s ease;
		-moz-transition:background 0.25s ease;
        -ms-transition:background 0.25s ease;
        -o-transition:background 0.25s ease;
		transition:background 0.25s ease;
		}
	span.button a,
	button.button {
		
		-webkit-transition:color 0.25s ease, background 0.25s ease;
		-moz-transition:color 0.25s ease, background 0.25s ease;
        -ms-transition:color 0.25s ease, background 0.25s ease;
        -o-transition:color 0.25s ease, background 0.25s ease;
		transition:color 0.25s ease, background 0.25s ease;
		}	
	a:hover { 
		text-decoration: underline; 
		}
	a:focus { 
		outline: none; 
		}
	a:visited { 
		outline: none;  

  		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  		filter: alpha(opacity=80);
  		-moz-opacity: 0.8;
  		-khtml-opacity: 0.8;
		opacity:0.8; 
		}
	p a, p a:visited { 
		line-height: inherit; 
		}
	a.see_all { 
		font-size:11px; font-size:1.1rem; 
		}
		
	a.see_all,
	a.underline {
		text-decoration:none; 
		display:inline-block;
		border-width:0 0 1px; border-style:solid;
		}	

	

/*	--------------------------------------------------
	5.0 LISTS
	-------------------------------------------------- */
	
	ul, ol { 
		padding:0 0 15px; 
		}
	ul { 
		padding-left:16px;
		list-style: disc outside; 
		}
	ol { 
		padding-left:20px;
		list-style: decimal; 
		}
	ul ul,
	ol ol {
		padding:5px 0 0 10px;
		}
	ul ul {
		list-style: circle outside; 
		}
	ol ol {
		list-style: lower-roman; 
		}
	ol, 
	ul.square, 
	ul.circle, 
	ul.disc { 
		}
	ul.square { 
		list-style: square outside; 
		}
	ul.circle { 
		list-style: circle outside; 
		}
	ul.disc { 
		list-style: disc outside; 
		}
	li { 
		padding-bottom:5px;
		}
	ul.large li { 
		line-height: 21px; 
		}
		
	nav ul,
	nav li {
		padding:0;
		} 
		
	dl { 
		}
	dl dt { 
		font-weight:bold;
		padding-bottom:2px;
		}	
	dl dd { 
		padding-bottom:5px; 
		}
		
	


/* 	-------------------------------------------------- 
	3.0 MISC
	-------------------------------------------------- */
	
	.left { 
		float: left; 
		}
	.right { 
		float: right; 
		}
	.text_left { 
		text-align: left; 
		}
	.text_right { 
		text-align: right; 
		}
	.text_center { 
		text-align: center; 
		}
	.text_upper {
		text-transform:uppercase;
		}
	.hide { 
		display: none; 
		}
		
	.label {
		display:inline-block;
		padding:0 5px;
		}
	
	object, embed { 
		max-width: none; 
		}

	#map embed { 
		max-width: none; 
		}
	#map img { 
		max-width: none; 
		}
	#map object { 
		max-width: none; 
		}
	
	img { 
		max-width:100%; 
		height:auto; 
		}
	
	#map {
		overflow:hidden;
		margin-bottom:10px;
		}
		
			
	@media (min-width:1024px) {
		
	.hide_desktop,
	.only_tablet,
	.only_mobile {
		display:none;
		}
		
	}
			
	@media (min-width:768px) {
	}
			
	@media (min-width:768px) and (max-width:1023px) {
		
	.hide_tablet,
	.only_desktop,
	.only_mobile {
		display:none;
		}
		
	}
	
	@media (max-width:767px) {
		
	.hide_mobile,
	.only_desktop,
	.only_tablet {
		display:none;
		}
		
	}
	
	@media (min-width:480px) and (max-width:767px) {
	}



/* 	BASED ON THE WORK ARTFULLY MASTERMINDED BY ZURB */
/*	--------------------------------------------------
	4.0 TYPOGRAPHY
	-------------------------------------------------- */
	
	html {
		font-size: 62.5%;
		}
	body { 
		font-size: 14px; font-size: 1.4rem; /* =14px */
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 400;
		} 
	input,
	select,
	textarea, 
	button,
	.pricing_menu dl dt .info p.heading,
	table thead tr th {
		font-size: 14px; font-size: 1.4rem; /* =14px */
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 400;
		}
	
	h1, h2, h3, h4, h5, h6, .heading, nav.main { 
		line-height: 1.1;
		}
	h1, h2, h3, h4, h5, h6, .heading, nav.main, .button, .underline, nav.sub, .accordion .tab, .tabbed .tabs, a.see_all,
	table thead tr th {
		font-weight:400;
		font-family: 'Hammersmith One', sans-serif;
		text-transform:uppercase;
		letter-spacing:0.1em;
		}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
		font-weight: inherit; 
		}
	h1 { font-size: 48px; font-size: 4.8rem; padding: 0 0 5px; }
	h2 { font-size: 28px; font-size: 2.8rem; padding: 15px 0 10px; }
	h3 { font-size: 22px; font-size: 2.2rem; padding: 15px 0 10px; }
	h4 { font-size: 18px; font-size: 1.8rem; padding: 10px 0; }
	h5, h6 { font-size: 16px; font-size: 1.6rem; padding: 10px 0; }
	
	body.home .newsletter p.heading,
	body.home h2,
	body.home h3,
	body.home h4,
	body.home h5 {
		font-size: 28px; font-size: 2.8rem;
		padding: 10px 0;
		}

	.subheading { 
		font-weight: 300; 
		margin-bottom: 24px; 
		}

	p, div.text { 
		padding: 0 0 15px; 
		}
	p, div.text { 
		line-height: 1.5; 
		}
	p.heading { 
		padding:10px 0;
		}
	.box .heading {
		padding-top:0;
		}	
	p.intro { 
		font-size: 18px; font-size: 1.8rem; 
		}
	p img { 
		margin: 0; 
		}
	p#skip { 
		display:none; 
		}
	p.who {
		font-size:12px; font-size:1.2rem; 
		font-style:italic;
		padding:5px 0; 
		}
	
	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 80%; line-height: inherit; }
	
	/*	Blockquotes  */
	blockquote p { 
		font-size:22px; font-size:2.2rem;
		font-style:italic;
		line-height:1.4;
		padding-top:5px;
		}
	.promo_pods blockquote p {
		font-size:18px; font-size:1.8rem;
		}
	blockquote { margin: 0; padding: 15px 25px; border-width:0 0 0 5px; border-style:solid; }
	blockquote cite { display: block; font-size: 11px; font-size: 1.1rem; }
	blockquote cite:before { content: "\2014 \0020"; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px auto; height: 0; width:100%; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }
	
	
			
	@media (min-width:768px) and (max-width:1023px) {
	
	body.home .newsletter p.heading,
	body.home h2,
	body.home h3,
	body.home h4,
	body.home h5 {
		font-size: 24px; font-size: 2.4rem;
		}
		
	}
	
	@media (max-width:767px) {
		
	h1 { font-size: 28px; font-size: 2.8rem; }
	h2 { font-size: 22px; font-size: 2.2rem; }
	h3 { font-size: 20px; font-size: 2.0rem; }
	h4,h5, h6 { font-size: 16px; font-size: 1.6rem;}
	
	body.home .newsletter p.heading,
	body.home h2,
	body.home h3,
	body.home h4,
	body.home h5 {
		font-size: 24px; font-size: 2.4rem;
		}
			
	p.intro { 
		font-size: 16px; font-size: 1.6rem; 
		}
		
	blockquote p { 
		font-size:18px; font-size:1.8rem;
		}
	.promo_pods blockquote p {
		font-size:16px; font-size:1.6rem;
		}
		
	}
		


/*	--------------------------------------------------
	END
	-------------------------------------------------- */
	
		
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
